body {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 50px auto;
    text-align: left;
}
label {
    display: block;
    margin-top: 10px;
}
.errors {
    color: red;
    list-style: none;
}
